<h2 class="text-center">Login</h2>
<div class="row mt-5">
  <div class="col-3"></div>
  <div class="col-6">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Password" aria-label="Username" aria-describedby="basic-addon1">
    </div>
  </div>
  <div class="col-3"></div>
</div>
<button type="button" class="btn btn-success d-flex mr-auto ml-auto">Login</button>